{% extends "layout.html" %}
{% block content %}
<h3>Our Mission</h3>
<div class="about">
Our website is easy to navigate and is the perfect website for people that want to learn more about cars. 
<br>
    For our website our mission is to help people to decide on puchasing their new car. 
    <br>
    In our website we conatin information of car brands and on the cars.
    <br>
    Thank you for visitng our website and we hope you enjoy the cars.
</div>

<div class="car_sale">
<img src="/static/images/car_selling.jpg">
</div>
{% endblock %}