{% extends "layout.html" %}
{% block content %}
<div class="grid-container">
{% for car in car%}
{% if car[2] == "1" %}
<h2>
<div class="grid-item">
    {{car[1]}}
    <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>


</h2>
{% endif %}
{% endfor %}


{% for car in car%}
{% if car[2] == "2" %}
<h2>
<div class="grid-item">
    {{car[1]}}
    <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>


</div>
</h2>
{% endif %}
{% endfor %}

{% for car in car%}
{% if car[2] == "3" %}
<h2>
<div class="grid-item">
    {{car[1]}}
    <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>


</div>
</h2>
{% endif %}
{% endfor %}
    {% for car in car%}
    {% if car[2] == "4" %}
    <h2>
    <div class="grid-item">
        {{car[1]}}
        <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>
    
    
    </div>
    </h2>
    {% endif %}
    {% endfor %}

    {% for car in car%}
    {% if car[2] == "5" %}
    <h2>
    <div class="grid-item">
        {{car[1]}}
        <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>
    
    
    </div>
    </h2>
    {% endif %}
    {% endfor %}

    {% for car in car%}
    {% if car[2] == "6" %}
    <h2>
    <div class="grid-item">
        {{car[1]}}
        <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>
    
    
    </div>
    </h2>
    {% endif %}
    {% endfor %}

    {% for car in car%}
    {% if car[2] == "7" %}
    <h2>
    <div class="grid-item">
        {{car[1]}}
        <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>
    
    
    </div>
    </h2>
    {% endif %}
    {% endfor %}

    {% for car in car%}
    {% if car[2] == "8" %}
    <h2>
    <div class="grid-item">
        {{car[1]}}
        <a href="/cars/{{car[0]}}"><img src="{{car[4]}}"/></a>
    
    
    </div>
    </h2>
    {% endif %}
    {% endfor %}
{% endblock %}