<nav>
    <ul>
      <div class="navbar"></div>
      <li><a href="/">Home</a></li> 
      
      <div class="dropdown">
        <button class="dropbtn">All Cars <i class=" arrow down"></i></p>

          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/cars/1">Toyota</a>
          <a href="/cars/2">Honda</a>
          <a href="/cars/3">Nissan</a>
          <a href="/cars/4">Ford</a>
          <a href="/cars/5">Volkswagen</a>
          <a href="/cars/6">Tesla</a>
          <a href="/cars/7">Lexus</a>
          <a href="/cars/8">Audi</a>
          <a href="/cars/9">BMW</a>
          <a href="/cars/10">Mercedes</a>
        </div>
      </div> 

      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
      


    </ul>
   
  </nav>
  