<nav>
    <ul>
      <div class="navbar"></div>
      <li><a href="/">Home</a></li> 
      
      <div class="dropdown">
        <button class="dropbtn">All Cars <i class=" arrow down"></i></p>

          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/cars/1">Toyota</a>
          <a href="#">Honda</a>
          <a href="#">Nissan</a>
          <a href="#">Ford</a>
          <a href="#">Volkswagen</a>
          <a href="#">Lexus</a>
          <a href="#">Audi</a>
          <a href="#">BMW</a>
          <a href="#">Mercedes</a>
        </div>
      </div> 

      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
      


    </ul>
   
  </nav>
  